.container {
    max-width: 500px;
    padding-top: 100px;
    margin: auto;
}

div.menu {
    padding: 10px;
    /*background: #e74c3c;*/
    background: #f08080;
    color: #eee;
}

div.menu a {
    padding: 10px;
    color: #eee;
    text-decoration: none;
}

div.menu a:hover {
    padding: 10px;
    text-decoration: underline;
}


/* Alternative 1: text */

div.irclog {
    font-family: monospace;
    text-indent: -7em;
    padding-left: 7em;
}
div.irclog p { margin: 2px 0; }


/* Alternative 2: table */

table.irclog {
    width: 60%;
    float: left;
    padding: 0 0 10px 15px;
    table-layout: fixed;
}

th.username-header {
    text-align: right;
}

td.nick {
    padding: 1px 2px;
    text-align: right;
    word-wrap: break-word;
}

td.text {
    width: 100%;
    padding: 5px 0;
    margin-left: 5px;
    color: #505050;
    border-bottom: 1px dashed #ddd;
    word-wrap: break-word;
}

td.action {
    background: #eee;
}

td span.prediction-indicator {
    position: absolute;
    right: -15px;
    width: 12px;
    height: 12px;
    top: 10px;
    border-radius: 3px;
}

td span.prediction-indicator.true-prediction {
    background: #f08080;
}

td span.prediction-indicator.false-prediction {
    background: #eee;
}

/* Search box  */

div.searchbox {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

div.searchbox input#searchtext {
    border: 1px solid gray;
    padding: 2px 4px;
}
div.searchbox input#searchtext:hover {
    border: 1px solid #869abf;
}
div.searchbox input#searchbutton {
    color: gray;
    background: white;
    border: 1px solid gray;
    font-weight: bold;
    padding: 1px 4px 2px 4px;
    margin-left: 0.3ex;
}
div.searchbox input#searchbutton:hover {
    color: #134D73;
    border: 1px solid #869abf;
}

/* Search results */

ul.searchresults table {
    margin: 0.5ex 0 1ex 0.5ex;
}

/* Common rules */

body {
    color: black;
    background: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    color: #134d73;
}

h1 {
    margin: 0.5em 8em 0.5em 0;
}

a {
    color: #869ABF;
}
a:visited {
    color: purple;
}
a:active, a:hover {
    color: #B22222;
}

.navigation {
    margin-bottom: 17px;
    text-align: right;
    font-size: 0.9em;
    background: #f1f1f1;
    padding: 10px 0;
    line-height: 30px;
    z-index: 10;
    top: 0;
}
.navigation a, .navigation span {
    margin-right: 1em;
}

a.time, a.time:visited {
    white-space: nowrap;
    text-decoration: none;
    color: #8888cc;
}
a.time:active, a.time:hover {
    text-decoration: none;
    color: #9999dd;
}
a.time:before { content: "["; }
a.time:after { content: "]"; }


.part { color: #000099; }
.join { color: #009900; }
.servermsg { color: #009900; }
.nickchange { color: #009900; }
.action { color: #cc00cc; }
.other { color: #888888; }

/* Make boring messages small */
.part, .join, .servermsg, .nickchange, .other { font-size: smaller; }
td.part + td, td.join + td, td.servermsg + td, td.nickchange + td,
td.other + td { font-size: smaller; text-align: right; }
span.summary-checkbox, span.summary-header {
    float: right;
}
span.summary-header {
    width: 85px;
}

input.summary-submit {
    margin-left: 35%;
    position: fixed;
    cursor: pointer;
    width: 52px;
    z-index: 10;
    top: 110px;
    transition: top 0.5s ease;
}

.content {
    transition: padding 0.5s ease;
}

.date-header {
    font-weight: bold;
    font-size: 1.3em;
    float: left;
    color: #333;
    margin-left: 20px;
}

.quote-block {
    color: #f08080;
    margin: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content .irclog {
  padding-top: 70px;
}

.sticky + .content .summary {
  top: 56px;
}

.sticky + .content input.summary-submit {
  top: 65px;
}

.summary {
    margin-left: 61%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 100px;
    transition: top 0.5s ease;
    bottom: 0;
}
.summary > h4 {
   margin: 10px;
}
.summary-block {
    background: #f1f1f1;
    padding: 20px;
    margin: 10px;
}

.no-summary {
    background: #f1f1f1;
    padding: 30px;
    text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    height: 25px;
    width: 80px;
    line-height: 25px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    left: -90px;
    border-radius: 2px;
    bottom: 2px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

a.previous-date, a.next-date {
    text-decoration: none;
}
