.container {
    max-width: 500px;
    padding-top: 100px;
}

div.menu {
    padding: 15px 15px 0px 15px;
}

/* Alternative 1: text */

div.irclog {
    font-family: monospace;
    text-indent: -7em;
    padding-left: 7em;
}
div.irclog p { margin: 2px 0; }


/* Alternative 2: table */

table.irclog {
    width: 60%;
    float: left;
}
td.nick {
    padding: 1px 2px;
    text-align: right;
}
td.text {
    width: 100%;
    padding: 5px 0;
    margin-left: 5px;
    color: #505050;
    border-bottom: 1px dashed #ddd;
}
}
td.action {
    background: #eee;
}

/* Search box  */

div.searchbox {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

div.searchbox input#searchtext {
    border: 1px solid gray;
    padding: 2px 4px;
}
div.searchbox input#searchtext:hover {
    border: 1px solid #869abf;
}
div.searchbox input#searchbutton {
    color: gray;
    background: white;
    border: 1px solid gray;
    font-weight: bold;
    padding: 1px 4px 2px 4px;
    margin-left: 0.3ex;
}
div.searchbox input#searchbutton:hover {
    color: #134D73;
    border: 1px solid #869abf;
}

/* Search results */

ul.searchresults table {
    margin: 0.5ex 0 1ex 0.5ex;
}

/* Common rules */

body {
    color: black;
    background: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: #134d73;
}

h1 {
    margin: 0.5em 8em 0.5em 0;
}

a {
    color: #869ABF;
}
a:visited {
    color: purple;
}
a:active, a:hover {
    color: #B22222;
}

.navigation {
    margin: 1em 0em;
    text-align: right;
    font-size: 0.9em;
}
.navigation a, .navigation span {
    margin-right: 1em;
}

a.time, a.time:visited {
    white-space: nowrap;
    text-decoration: none;
    color: #8888cc;
}
a.time:active, a.time:hover {
    text-decoration: none;
    color: #9999dd;
}
a.time:before { content: "["; }
a.time:after { content: "]"; }


.part { color: #000099; }
.join { color: #009900; }
.servermsg { color: #009900; }
.nickchange { color: #009900; }
.action { color: #cc00cc; }
.other { color: #888888; }

/* Make boring messages small */
.part, .join, .servermsg, .nickchange, .other { font-size: smaller; }
td.part + td, td.join + td, td.servermsg + td, td.nickchange + td,
td.other + td { font-size: smaller; text-align: right; }
span.summary-checkbox, span.summary-header {
    float: right;
}
span.summary-header {
    width: 85px;
}

input.summary-submit {
    margin-left: 35%;
    position: fixed;
    cursor: pointer;
    width: 52px;
    z-index: 10;
}

div.generatedby {
    margin-top: 1em;
    font-size: small;
    color: #888888;
}
div.generatedby a:link {
    color: #8888cc;
    text-decoration: none;
    border-bottom: 1px dotted #8888cc;
}
div.generatedby a:visited {
    color: #cc88cc;
    text-decoration: none;
    border-bottom: 1px dotted #cc88cc;
}
div.generatedby a:active,
div.generatedby a:hover {
    color: #ff8888;
    text-decoration: none;
    border-bottom: 1px dotted #ff8888;
}

.quote-block {
    color: lightcoral;
    margin: 10px;
}

.summary {
    margin-left: 61%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 92px;
    bottom: 0;
}
.summary > h4 {
   margin: 10px;
}
.summary-block {
    background: #eee;
    padding: 20px;
    margin: 5px;
}

.no-summary {
    background: #eee;
    padding: 30px;
    text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    height: 25px;
    width: 80px;
    line-height: 25px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    left: -90px;
    border-radius: 2px;
    bottom: 2px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

a.previous-date, a.next-date {
    text-decoration: none;
}
