{% extends "base.html" %}

{% block content %}
    <div class="container">
      <h3>Welcome to the {{app_name}}</h3>
      <h4>API endpoints</h4>
      <ul>
        {% for endpoint, methods in endpoints %}
        <li><a href="{{endpoint}}">{{endpoint}}</a> - {% for method in methods %}{{method}}, {% endfor %} </li>
        {% endfor %}
      </ul>
        <div>Start <a href="{{ url_for('logs_page', **{'logs_date': '2001-10-23'}) }}">here</a></div>
        <div>Coming back? Continue here:  <a href="{{ url_for('logs_page', **{'logs_date': '2001-11-19'}) }}">here</a></div>
      <div id="train-data">
        <h4>Train Data</h4>
        {% for date in date_data_types["train"] %}
          <div class="data-type-date">- <a href="{{ url_for('logs_page', **{'logs_date': date }) }}">{{date}}</a></div>
        {% endfor %}
      </div>
      <div id="validation-data">
        <h4>Validation Data</h4>
        {% for date in date_data_types["validation"] %}
          <div class="data-type-date">- <a href="{{ url_for('logs_page', **{'logs_date': date }) }}">{{date}}</a></div>
        {% endfor %}
      </div>
      <div id="test-data">
        <h4>Test Data</h4>
        {% for date in date_data_types["test"] %}
          <div class="data-type-date">- <a href="{{ url_for('logs_page', **{'logs_date': date }) }}">{{date}}</a></div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
