{% extends "base.html" %}

{% block content %}
    <div class="chat-logs">
        <div class="navigation" id="main-nav-bar">
            <span class="date-header">{{ logs_date }}</span>
            <span class="data_type"> <strong>[ {{ conversation_statistics['data_type'].title() }} Data ]</strong></span>
            <span class="chat-statistics"><strong>Total Chats:</strong> {{conversation_statistics['number_of_sentences']}} </span>
            <span class="chat-statistics"><strong>True Predictions:</strong> {{conversation_statistics['number_of_true_predictions']}} </span>
            <a class="previous-date" href="{{ url_for('logs_page', **{'logs_date': previous_date}) }}">Previous ({{previous_date}}) </a>
            <a class="next-date" href="{{ url_for('logs_page', **{'logs_date': next_date}) }}">Next({{next_date}})</a>
        </div>
        <div class="content">
            <form method="POST">
                <table class="irclog">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:90%">
                    </colgroup>
                    <tr>
                        <th class="username-header">Username</th>
                        <th>Message <span class="summary-header">Is summary</span></th>
                    </tr>
                    {% for log in logs %}
                        {% set username = log['send_user']%}
                        <tr>
                            <td class="nick" style="color: {{username_colors[username]}}">{{username}}:</td>
                            <td class="text tooltip" style="background-color: rgba(255, 152, 0, {{log['categorical_value_1']}});" colspan="2" log_id="{{log['log_id']}}">
                                <span class="color-overlay" style="background-color:rgba(139, 195, 74, {{log['categorical_value_2']}});"></span>
                                <span id="{{log['log_id']}}">{{log['line_message']}}</span>
                                <span class="tooltip-text">{{log['log_id']}}</span>
                                <span class="summary-checkbox">
                                    <input type="checkbox" name="chat_log" value="{{log['log_id']}}" {% if log['is_summary'] %} checked="checked" {% endif %}>
                                </span>
                                <span class="prediction-indicator {% if log['prediction'] %} true-prediction{%else%} false-prediction{% endif %}"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <input class="summary-submit" type="submit" value="Submit">
            </form>

            <div class="summary">
                {% set s_sum = logs[0]['summary_sum'] if logs else None %}
                <h4>Actual Quotes and Summaries ({{conversation_statistics['number_of_summaries']}} Quoted) | {{logs_date}}</h4>
                {% for summary_quote in summary_and_quotes %}
                    <div class="summary-block">
                        {{summary_quote['para']}}
                        <div class="quotes">
                            {% set quotes = summary_quote['quotes'].split('^&##m*_^->') if summary_quote else [] %}
                            {% set single_quotes = [] %}
                            {% for quote in quotes %}
                                {% if single_quotes.extend(quote.split('-')) %} {% endif %}
                            {% endfor %}
                            <h4>{{ single_quotes|length }} Quotes</h4>

                            {% for quote in single_quotes %}
                                <div class="quote-block">
                                    "{{quote}}"
                                </div>
                            {% endfor %}

                            {% if not quotes %}
                                <div class="quote-block">
                                    No quotes exists for logs on this date
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if not summary_and_quotes %}
                    <div class="summary-block">
                        No Summary exists for logs on this date
                    </div>
                {% endif %}

                <h4>Predicted Summaries ({{conversation_statistics['number_of_true_predictions']}} Predicted) | {{logs_date}}</h4>
                    {% for cluster in prediction_clusters %}
                        <div class="summary-block">
                                <a href="#{{cluster[0]['log_id']}}">
                                    <div class="quotes">
                                        {% for log_data in cluster %}
                                            <div class="prediction-quote-block">
                                                {{log_data['message']}}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </a>
                        </div>
                    {% endfor %}
                    {% if conversation_statistics['number_of_true_predictions'] < 1 %}
                        <div class="summary-block">
                            No true predictions have been made for these chats
                        </div>
                    {% endif %}
                {% if not summary_and_quotes %}
                    <div class="summary-block">
                        No Summary exists for logs on this date
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
