{% extends "base.html" %}

{% block content %}
    <div class="chat-logs">
         <table class="irclog">
            {% for log in logs %}
             {% set username = log['send_user']%}
                <tr>
                    <th class="nick" style="color: {{username_colors[username]}}">{{username}}:</th>
                    <td class="text tooltip" colspan="2" log_id="{{log_id}}">{{log['line_message']}}</td>

                </tr>
            {% endfor %}
         </table>
        <div class="summary">
            <h4>Summary</h4>
            {% for paragraph in summary %}
            <div class="summary-block">
                {{paragraph['para']}}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
